@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-family:sans-serif;
}

img{
    max-width:100%;
    height:auto;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 25px;
    font-family: 'Montserrat', sans-serif;
    color: goldenrod;
}

#menu  {
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 120%;
}



#menu li {
    float: right;
    list-style-type: none;  
    margin-right: 40px;
}

h2 {clear: both;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    color: goldenrod;
    
} 
header {
    
    background: url( ../images/drilling.webp) no-repeat center center; 
    height: 200px;
    background-color: chocolate;
    padding-top:20px;
}

header > p{
	float:right;
	margin:25px 20px 20px 0;
}
#motto{
    font-size:20px;
    margin-left:25px;
    font-style:italic;
}

h2 {
	font-size: 36px;
    margin-top:20px;
	padding-bottom:30px;
	font-weight:700;
	color:white;
}
#headercontent p {
	padding-top:20px;
}
header p {
	padding-bottom:30px;
}

.littlep {
	margin-bottom:50px;
}
#nextcontent h2{
	text-align:center;
	color:#000000;
	width:80%;
	margin:0 auto;
	padding-top: 30px;
}
.random h2 {
	text-align:center;
	color:chocolate!important;
}
.random p {
	text-align:center;
}
.random li {
	list-style:none;
}
#nextcontent {
	width: 80%;
	margin: 0 auto;
}

#nextcontent > h2  {
    font-family: 'Montserrat', sans-serif;

}

.random h2 {
    font-family: 'Montserrat', sans-serif;
    
}

.random p {
    font-family: 'Roboto', sans-serif;
    font-size: large;

}



footer {
    height: 150px;
}

.social-networks {
    text-align: center;

}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: blueviolet;
}
.form {
    font-family: 'Montserrat', sans-serif;
    background-color: chocolate;
    

}
form {
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

/*Laptop*/
@media all and (max-width:1400px){

}

/*Tableta*/

@media all and (max-width:1024px){

}

/*Mobil*/
@media all and (max-width:768px){
    header{
        background-image:none;
    }
    .random li{
        margin-bottom:20px;
    }
   
}



@media all and (min-width:1024px){
    .random li{
        width:30%;    
    }
    .random{
        display:flex;
        justify-content: space-between;
    }
}




    


    






